{
	"openapi": "3.0.3",
	"info": {
		"title": "Fluxer API",
		"version": "1.0.0",
		"description": "API for Fluxer, a free and open source instant messaging and VoIP chat app built for friends, groups, and communities.",
		"contact": {"name": "Fluxer Platform AB", "email": "support@fluxer.app"},
		"license": {"name": "AGPL-3.0", "url": "https://www.gnu.org/licenses/agpl-3.0.html"}
	},
	"servers": [{"url": "https://api.fluxer.app/v1", "description": "Production API"}],
	"paths": {
		"/admin/api-keys": {
			"post": {
				"operationId": "create_admin_api_key",
				"summary": "Create admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAdminApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Generates a new API key for administrative operations. The key is returned only once at creation time. Includes expiration settings and access control lists (ACLs) to limit the key's permissions.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CreateAdminApiKeyRequest"}}}
				}
			},
			"get": {
				"operationId": "list_admin_api_keys",
				"summary": "List admin API keys",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {"type": "array", "items": {"$ref": "#/components/schemas/ListAdminApiKeyResponse"}}
							}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve all API keys created by the authenticated admin. Returns metadata including creation time, last used time, and assigned permissions. The actual key material is not returned.",
				"security": [{"adminApiKey": []}]
			}
		},
		"/admin/api-keys/{keyId}": {
			"delete": {
				"operationId": "delete_admin_api_key",
				"summary": "Delete admin API key",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DeleteApiKeyResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Revokes an API key, immediately invalidating it for all future operations. This action cannot be undone.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{"name": "keyId", "in": "path", "required": true, "schema": {"type": "string"}, "description": "The keyId"}
				]
			}
		},
		"/admin/applications/list-by-guild": {
			"post": {
				"operationId": "admin_list_guild_applications",
				"summary": "List applications installed in a guild",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListGuildApplicationsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lists OAuth2 applications whose bot users are members of a guild. Requires APPLICATION_LOOKUP or APPLICATION_LIST_BY_OWNER permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListGuildApplicationsRequest"}}}
				}
			}
		},
		"/admin/applications/list-by-owner": {
			"post": {
				"operationId": "admin_list_user_applications",
				"summary": "List applications owned by a user",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListUserApplicationsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lists all applications (OAuth2 clients and bots) owned by a specific user. Requires APPLICATION_LIST_BY_OWNER permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListUserApplicationsRequest"}}}
				}
			}
		},
		"/admin/applications/lookup": {
			"post": {
				"operationId": "lookup_application",
				"summary": "Look up application",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LookupApplicationResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves complete application details including ownership, bot user, OAuth2 redirect URIs, and credential status. Requires APPLICATION_LOOKUP permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LookupApplicationRequest"}}}
				}
			}
		},
		"/admin/applications/transfer-ownership": {
			"post": {
				"operationId": "transfer_application_ownership",
				"summary": "Transfer application ownership",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationUpdateResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Transfers application ownership to another user. Used when owner is inactive or for administrative recovery. Logged to audit log. Requires APPLICATION_TRANSFER_OWNERSHIP permission.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/TransferApplicationOwnershipRequest"}}
					}
				}
			}
		},
		"/admin/archives/guild": {
			"post": {
				"operationId": "trigger_guild_archive",
				"summary": "Trigger guild archive",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminArchiveResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Initiates a data export for a guild (server). Creates an archive containing all guild data including channels, messages, members, roles, and settings.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TriggerGuildArchiveRequest"}}}
				}
			}
		},
		"/admin/archives/list": {
			"post": {
				"operationId": "list_archives",
				"summary": "List archives",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListArchivesResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query and filter created archives by type (user or guild), subject ID, requestor, and expiration status. Admins with limited ACLs see only archives matching their permissions.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListArchivesRequest"}}}
				}
			}
		},
		"/admin/archives/user": {
			"post": {
				"operationId": "trigger_user_archive",
				"summary": "Trigger user archive",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminArchiveResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Initiates a data export for a user. Creates an archive containing all the user's data (messages, server memberships, preferences, etc.) for export or compliance purposes.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/TriggerUserArchiveRequest"}}}
				}
			}
		},
		"/admin/archives/{subjectType}/{subjectId}/{archiveId}": {
			"get": {
				"operationId": "get_archive_details",
				"summary": "Get archive details",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/GetArchiveResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve metadata for a specific archive including its status, creation time, expiration, and file location. Does not return the archive contents themselves.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "subjectType",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subjectType"
					},
					{
						"name": "subjectId",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subjectId"
					},
					{
						"name": "archiveId",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The archiveId"
					}
				]
			}
		},
		"/admin/archives/{subjectType}/{subjectId}/{archiveId}/download": {
			"get": {
				"operationId": "get_archive_download_url",
				"summary": "Get archive download URL",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/DownloadUrlResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Generate a time-limited download link to the archive file. The URL provides direct access to download the compressed archive contents.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "subjectType",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subjectType"
					},
					{
						"name": "subjectId",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The subjectId"
					},
					{
						"name": "archiveId",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The archiveId"
					}
				]
			}
		},
		"/admin/assets/purge": {
			"post": {
				"operationId": "purge_guild_assets",
				"summary": "Purge guild assets",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PurgeGuildAssetsResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Delete and clean up all assets belonging to a guild, including icons, banners, and other media. This is a destructive operation used for cleanup during guild management or compliance actions.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PurgeGuildAssetsRequest"}}}
				}
			}
		},
		"/admin/audit-logs": {
			"post": {
				"operationId": "list_audit_logs",
				"summary": "List audit logs",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuditLogsListResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve a paginated list of audit logs with optional filtering by date range, action type, or actor. Used for tracking administrative operations and compliance auditing.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ListAuditLogsRequest"}}}
				}
			}
		},
		"/admin/audit-logs/search": {
			"post": {
				"operationId": "search_audit_logs",
				"summary": "Search audit logs",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuditLogsListResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Perform a full-text search across audit logs for specific events or changes. Allows targeted queries for compliance investigations or incident response.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SearchAuditLogsRequest"}}}
				}
			}
		},
		"/admin/bans/avatar-hash/add": {
			"post": {
				"operationId": "add_avatar_hash_ban",
				"summary": "Add avatar hash ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban one or more 8-char MD5-prefix avatar hashes. Avatars matching the banned hash will be rejected on upload.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanAvatarHashRequest"}}}
				}
			}
		},
		"/admin/bans/avatar-hash/check": {
			"post": {
				"operationId": "check_avatar_hash_ban_status",
				"summary": "Check avatar hash ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether any of the provided avatar hashes are banned.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckAvatarHashRequest"}}}
				}
			}
		},
		"/admin/bans/avatar-hash/remove": {
			"post": {
				"operationId": "remove_avatar_hash_ban",
				"summary": "Remove avatar hash ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied avatar-hash ban.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckAvatarHashRequest"}}}
				}
			}
		},
		"/admin/bans/email/add": {
			"post": {
				"operationId": "add_email_ban",
				"summary": "Add email ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban one or more email addresses from registering or creating accounts. Users attempting to use banned emails will be blocked.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanEmailRequest"}}}
				}
			}
		},
		"/admin/bans/email/check": {
			"post": {
				"operationId": "check_email_ban_status",
				"summary": "Check email ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether one or more email addresses are currently banned from registration. Returns the ban status and metadata.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanEmailRequest"}}}
				}
			}
		},
		"/admin/bans/email/remove": {
			"post": {
				"operationId": "remove_email_ban",
				"summary": "Remove email ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied email ban, allowing the address to be used for new registrations. Used for appeals or error correction.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanEmailRequest"}}}
				}
			}
		},
		"/admin/bans/file-sha/add": {
			"post": {
				"operationId": "add_file_sha_ban",
				"summary": "Add file SHA ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban one or more files by SHA hash. Uploads matching the banned hash will be rejected.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanFileShaRequest"}}}
				}
			}
		},
		"/admin/bans/file-sha/bulk-add": {
			"post": {
				"operationId": "bulk_ban_file_shas",
				"summary": "Bulk-ban file SHAs as a background job",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkJobResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Enqueue a background job that bans many file SHAs at once. Returns a job_id immediately; observe progress at /admin/jobs/:job_id.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkBanFileShasRequest"}}}
				}
			}
		},
		"/admin/bans/file-sha/check": {
			"post": {
				"operationId": "check_file_sha_ban_status",
				"summary": "Check file SHA ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether one or more file SHA hashes are currently banned.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckFileShaRequest"}}}
				}
			}
		},
		"/admin/bans/file-sha/remove": {
			"post": {
				"operationId": "remove_file_sha_ban",
				"summary": "Remove file SHA ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied file SHA ban, allowing uploads of that file again.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnbanFileShaRequest"}}}
				}
			}
		},
		"/admin/bans/ip/add": {
			"post": {
				"operationId": "add_ip_ban",
				"summary": "Add IP ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban one or more IP addresses from accessing the platform. Users connecting from banned IPs will be denied service. Can be applied retroactively.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanIpRequest"}}}
				}
			}
		},
		"/admin/bans/ip/check": {
			"post": {
				"operationId": "check_ip_ban_status",
				"summary": "Check IP ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether one or more IP addresses are currently banned. Returns the ban status and any associated metadata like reason or expiration.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanIpRequest"}}}
				}
			}
		},
		"/admin/bans/ip/remove": {
			"post": {
				"operationId": "remove_ip_ban",
				"summary": "Remove IP ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied IP ban, allowing traffic from those addresses again. Used for appeals or when bans were applied in error.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanIpRequest"}}}
				}
			}
		},
		"/admin/bans/phrase/add": {
			"post": {
				"operationId": "add_phrase_ban",
				"summary": "Add phrase ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban a phrase. Matching is case-insensitive and also normalizes common bypass tricks such as inserted whitespace, punctuation, invisible characters, and compatibility glyphs.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanPhraseRequest"}}}
				}
			}
		},
		"/admin/bans/phrase/check": {
			"post": {
				"operationId": "check_phrase_ban_status",
				"summary": "Check phrase ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether a phrase is currently banned.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanPhraseRequest"}}}
				}
			}
		},
		"/admin/bans/phrase/remove": {
			"post": {
				"operationId": "remove_phrase_ban",
				"summary": "Remove phrase ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied phrase ban, allowing messages containing that phrase again.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanPhraseRequest"}}}
				}
			}
		},
		"/admin/bans/profile-substring/add": {
			"post": {
				"operationId": "add_profile_substring_ban",
				"summary": "Add profile-substring ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban a substring within a specific profile field (username, global_name, nickname, bio, or pronouns). Matching reuses the phrase blocklist normalization (whitespace, punctuation, zero-width, lookalikes).",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanProfileSubstringRequest"}}}
				}
			}
		},
		"/admin/bans/profile-substring/check": {
			"post": {
				"operationId": "check_profile_substring_ban_status",
				"summary": "Check profile-substring ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether any of the provided substrings are banned for the given scope.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanProfileSubstringRequest"}}}
				}
			}
		},
		"/admin/bans/profile-substring/remove": {
			"post": {
				"operationId": "remove_profile_substring_ban",
				"summary": "Remove profile-substring ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied profile-substring ban.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanProfileSubstringRequest"}}}
				}
			}
		},
		"/admin/bans/url-domain/add": {
			"post": {
				"operationId": "add_url_domain_ban",
				"summary": "Add URL domain ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban an entire URL domain from being linked on the platform. All URLs under the banned domain will be blocked.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanUrlDomainRequest"}}}
				}
			}
		},
		"/admin/bans/url-domain/check": {
			"post": {
				"operationId": "check_url_domain_ban_status",
				"summary": "Check URL domain ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether a URL domain is currently banned from being linked.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanUrlDomainRequest"}}}
				}
			}
		},
		"/admin/bans/url-domain/remove": {
			"post": {
				"operationId": "remove_url_domain_ban",
				"summary": "Remove URL domain ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied URL domain ban, allowing links to that domain again.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnbanUrlDomainRequest"}}}
				}
			}
		},
		"/admin/bans/url/add": {
			"post": {
				"operationId": "add_url_ban",
				"summary": "Add URL ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Ban one or more URLs from being posted on the platform. Messages containing banned URLs will be blocked.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanUrlRequest"}}}
				}
			}
		},
		"/admin/bans/url/check": {
			"post": {
				"operationId": "check_url_ban_status",
				"summary": "Check URL ban status",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BanCheckResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Query whether one or more URLs are currently banned from being posted.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CheckUrlBlocklistRequest"}}}
				}
			}
		},
		"/admin/bans/url/remove": {
			"post": {
				"operationId": "remove_url_ban",
				"summary": "Remove URL ban",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Lift a previously applied URL ban, allowing the URL to be posted again.",
				"security": [{"adminApiKey": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UnbanUrlRequest"}}}
				}
			}
		},
		"/admin/billing/guilds/{guildId}/overview": {
			"get": {
				"operationId": "admin_billing_guild_overview",
				"summary": "Get billing overview for a guild",
				"tags": ["Admin"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AdminBillingOverviewResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve guild billing state. The current billing mirror is user-scoped, so guilds without persisted billing records return an empty overview.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{
						"name": "guildId",
						"in": "path",
						"required": true,
						"schema": {"type": "string"},
						"description": "The guildId"
					}
				]
			}
		},
		"/admin/billing/users/{userId}/cancel-subscription": {
			"post": {
				"operationId": "admin_billing_cancel_subscription",
				"summary": "Cancel a user subscription",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Set a user Stripe subscription to cancel at period end.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{"name": "userId", "in": "path", "required": true, "schema": {"type": "string"}, "description": "The userId"}
				]
			}
		},
		"/admin/billing/users/{userId}/cancel-subscription-now": {
			"post": {
				"operationId": "admin_billing_cancel_subscription_now",
				"summary": "Cancel a user subscription immediately",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Cancel a user Stripe subscription immediately without issuing a refund.",
				"security": [{"adminApiKey": []}],
				"parameters": [
					{"name": "userId", "in": "path", "required": true, "schema": {"type": "string"}, "description": "The userId"}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/AdminBillingCancelImmediatelyRequest"}}
					}
				}
			}
		},
		"/admin/billing/users/{userId}/end-premium-grace-period": {
			"post": {
				"operationId": "admin_billing_end_premium_grace_period",
				"summary": "End a user's premium grace period",
				"tags": ["Admin"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
[...]
