{
	"openapi": "3.1.0",
	"security": [],
	"info": {
		"title": "Fluxer API",
		"version": "1.0.0",
		"description": "API for Fluxer, a free and open source instant messaging and VoIP chat app built for friends, groups, and communities.",
		"contact": {"name": "Fluxer Platform AB", "email": "support@fluxer.app"},
		"license": {"name": "AGPL-3.0", "url": "https://www.gnu.org/licenses/agpl-3.0.html"}
	},
	"servers": [{"url": "https://api.fluxer.app/v1", "description": "Production API"}],
	"paths": {
		"/.well-known/fluxer": {
			"get": {
				"operationId": "get_well_known_fluxer",
				"summary": "Get instance discovery document",
				"tags": ["Instance"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/WellKnownFluxerResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns the instance discovery document including API endpoints, feature flags, and limits. This is the canonical discovery endpoint for all Fluxer clients."
			}
		},
		"/applications/@me": {
			"get": {
				"operationId": "get_current_user_applications",
				"summary": "Get current bot application",
				"tags": ["OAuth2"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ApplicationsMeResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves the application associated with the authenticated bot, including its owner and bot profile. Requires a valid bot token.",
				"security": [{"botToken": []}]
			}
		},
		"/attachments/refresh-urls": {
			"post": {
				"operationId": "refresh_attachment_urls",
				"summary": "Refresh attachment URLs",
				"tags": ["Messages"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefreshAttachmentUrlsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Reissues the expiring signature on attachment URLs. Returns one entry per requested URL, in the order they were requested, each pairing the URL exactly as it was sent with a freshly signed copy. A URL that is not an attachment URL of this instance is returned unchanged. No membership or existence check is performed.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RefreshAttachmentUrlsRequest"}}}
				}
			}
		},
		"/auth/authorize-ip": {
			"post": {
				"operationId": "authorize_ip_address",
				"summary": "Authorize IP address",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Verify and authorize a new IP address using the confirmation code sent via email. Completes IP authorization flow.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthorizeIpRequest"}}}
				}
			}
		},
		"/auth/email-revert": {
			"post": {
				"operationId": "revert_email_change",
				"summary": "Revert email change",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthLoginResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Revert a pending email change using the verification token sent to the old email. Returns authentication token after successful revert.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/EmailRevertRequest"}}}
				}
			}
		},
		"/auth/forgot": {
			"post": {
				"operationId": "forgot_password",
				"summary": "Forgot password",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Initiate password reset process by email. A password reset link will be sent to the user's email address. Requires CAPTCHA verification.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ForgotPasswordRequest"}}}
				}
			}
		},
		"/auth/handoff/complete": {
			"post": {
				"operationId": "complete_handoff",
				"summary": "Complete handoff",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete the handoff process and authenticate on the target device using the handoff code.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffCompleteRequest"}}}
				}
			}
		},
		"/auth/handoff/initiate": {
			"post": {
				"operationId": "initiate_handoff",
				"summary": "Initiate handoff",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffInitiateResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Start a handoff session to transfer authentication between devices. Returns a handoff code for device linking."
			}
		},
		"/auth/handoff/{code}": {
			"delete": {
				"operationId": "cancel_handoff",
				"summary": "Cancel handoff",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Cancel an ongoing handoff session. The handoff code will no longer be valid for authentication.",
				"parameters": [
					{
						"name": "code",
						"in": "path",
						"required": true,
						"schema": {"description": "The handoff code", "type": "string"},
						"description": "The handoff code"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffCancelRequest"}}}
				}
			}
		},
		"/auth/handoff/{code}/info": {
			"get": {
				"operationId": "get_handoff_info",
				"summary": "Get handoff info",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffInfoResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve device and location information about a pending handoff request. Non-destructive – the code remains valid after this call.",
				"parameters": [
					{
						"name": "code",
						"in": "path",
						"required": true,
						"schema": {"description": "The handoff code", "type": "string"},
						"description": "The handoff code"
					}
				]
			}
		},
		"/auth/handoff/{code}/status": {
			"get": {
				"operationId": "get_handoff_status",
				"summary": "Get handoff status",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffStatusResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Check the status of a handoff session. Returns whether the handoff has been completed or is still pending.",
				"parameters": [
					{
						"name": "code",
						"in": "path",
						"required": true,
						"schema": {"description": "The handoff code", "type": "string"},
						"description": "The handoff code"
					}
				]
			},
			"post": {
				"operationId": "get_handoff_status_with_secret",
				"summary": "Get handoff status with secret",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffStatusResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Check the status of a handoff session using the poll secret from initiation. Returns the authentication token once the handoff is complete and the presented secret matches.",
				"parameters": [
					{
						"name": "code",
						"in": "path",
						"required": true,
						"schema": {"description": "The handoff code", "type": "string"},
						"description": "The handoff code"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/HandoffStatusRequest"}}}
				}
			}
		},
		"/auth/ip-authorization/poll": {
			"get": {
				"operationId": "poll_ip_authorization",
				"summary": "Poll IP authorization",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/IpAuthorizationPollResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Poll the status of an IP authorization request. Use the ticket parameter to check if verification has been completed.",
				"parameters": [
					{
						"name": "ticket",
						"in": "query",
						"required": true,
						"schema": {"description": "The IP authorization ticket", "type": "string"},
						"description": "The IP authorization ticket"
					}
				]
			}
		},
		"/auth/ip-authorization/resend": {
			"post": {
				"operationId": "resend_ip_authorization",
				"summary": "Resend IP authorization",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Request a new IP authorization verification code to be sent via email. Use if the original code was lost or expired.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MfaTicketRequest"}}}
				}
			}
		},
		"/auth/login": {
			"post": {
				"operationId": "login_user",
				"summary": "Login account",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthLoginResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Authenticate with email and password. Returns authentication token if credentials are valid and MFA is not required. If MFA is enabled, returns a ticket for MFA verification.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/LoginRequest"}}}
				}
			}
		},
		"/auth/login/mfa/totp": {
			"post": {
				"operationId": "login_with_totp",
				"summary": "Login with TOTP",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthTokenWithUserIdResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete login by verifying TOTP code during multi-factor authentication. Requires the MFA ticket from initial login attempt.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MfaTotpRequest"}}}
				}
			}
		},
		"/auth/login/mfa/webauthn": {
			"post": {
				"operationId": "login_with_webauthn_mfa",
				"summary": "Login with WebAuthn MFA",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthTokenWithUserIdResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete login by verifying WebAuthn response during MFA. Requires the MFA ticket from initial login attempt.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebAuthnMfaRequest"}}}
				}
			}
		},
		"/auth/login/mfa/webauthn/authentication-options": {
			"post": {
				"operationId": "get_webauthn_mfa_options",
				"summary": "Get WebAuthn MFA options",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/WebAuthnAuthenticationOptionsResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve WebAuthn challenge and options for multi-factor authentication. Requires the MFA ticket from initial login.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MfaTicketRequest"}}}
				}
			}
		},
		"/auth/logout": {
			"post": {
				"operationId": "logout_user",
				"summary": "Logout account",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Invalidate the current authentication token and end the session. The auth token in the Authorization header will no longer be valid. A bot token has no session to end, so the call answers 204 and the token stays valid.",
				"security": [{"botToken": []}, {"sessionToken": []}]
			}
		},
		"/auth/register": {
			"post": {
				"operationId": "register_account",
				"summary": "Register account",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthRegisterResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Create a new user account with email and password. Requires CAPTCHA verification. User account is created but must verify email before logging in.",
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/RegisterRequest"}}}
				}
			}
		},
		"/auth/reset": {
			"post": {
				"operationId": "reset_password",
				"summary": "Reset password",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthLoginResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete the password reset flow using the token from the reset email. Returns authentication token after successful password reset.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ResetPasswordRequest"}}}
				}
			}
		},
		"/auth/reset/{token}": {
			"get": {
				"operationId": "validate_reset_password_token",
				"summary": "Validate reset password token",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/ValidateResetPasswordTokenResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Check whether a password reset token is valid and unexpired before allowing the user to submit a new password. Does not consume the token.",
				"parameters": [
					{
						"name": "token",
						"in": "path",
						"required": true,
						"schema": {"description": "Password reset token from email", "type": "string"},
						"description": "Password reset token from email"
					}
				]
			}
		},
		"/auth/sessions": {
			"get": {
				"operationId": "list_auth_sessions",
				"summary": "List auth sessions",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthSessionsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve all active authentication sessions for the current user. Requires authentication.",
				"security": [{"sessionToken": []}]
			}
		},
		"/auth/sessions/logout": {
			"post": {
				"operationId": "logout_all_sessions",
				"summary": "Logout all sessions",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Invalidate all active authentication sessions for the current user. Requires sudo mode verification for security.",
				"security": [{"sessionToken": []}],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/LogoutAuthSessionsWithVerificationRequest"}}
					}
				}
			}
		},
		"/auth/sso/complete": {
			"post": {
				"operationId": "complete_sso",
				"summary": "Complete SSO",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SsoCompleteResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete the SSO authentication flow with the authorization code from the SSO provider. Returns authentication token and user information.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SsoCompleteRequest"}}}
				}
			}
		},
		"/auth/sso/start": {
			"post": {
				"operationId": "start_sso",
				"summary": "Start SSO",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SsoStartResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Initiate a new Single Sign-On (SSO) session. Returns a session URL to be completed with SSO provider credentials.",
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SsoStartRequest"}}}
				}
			}
		},
		"/auth/sso/status": {
			"get": {
				"operationId": "get_sso_status",
				"summary": "Get SSO status",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SsoStatusResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve the current status of the SSO authentication session without authentication required."
			}
		},
		"/auth/username-suggestions": {
			"post": {
				"operationId": "get_username_suggestions",
				"summary": "Get username suggestions",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsernameSuggestionsResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Generate username suggestions based on a provided global name for new account registration.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/UsernameSuggestionsRequest"}}}
				}
			}
		},
		"/auth/verify": {
			"post": {
				"operationId": "verify_email",
				"summary": "Verify email",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Verify user email address using the code sent during registration. Email verification is required before the account becomes fully usable.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/VerifyEmailRequest"}}}
				}
			}
		},
		"/auth/verify/resend": {
			"post": {
				"operationId": "resend_verification_email",
				"summary": "Resend verification email",
				"tags": ["Auth"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Request a new email verification code to be sent. Requires authentication. Use this if the original verification email was lost or expired.",
				"security": [{"sessionToken": []}]
			}
		},
		"/auth/webauthn/authenticate": {
			"post": {
				"operationId": "authenticate_with_webauthn",
				"summary": "Authenticate with WebAuthn",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/AuthTokenWithUserIdResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Complete passwordless login using WebAuthn (biometrics or security key). Returns authentication token on success.",
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/WebAuthnAuthenticateRequest"}}}
				}
			}
		},
		"/auth/webauthn/authentication-options": {
			"post": {
				"operationId": "get_webauthn_authentication_options",
				"summary": "Get WebAuthn authentication options",
				"tags": ["Auth"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/WebAuthnAuthenticationOptionsResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieve WebAuthn authentication challenge and options for passwordless login with biometrics or security keys."
			}
		},
		"/channels/messages/bulk": {
			"post": {
				"operationId": "bulk_list_channel_messages",
				"summary": "List messages from multiple channels",
				"tags": ["Channels", "Messages"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkMessageFetchResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Fetches bounded message windows from multiple channels in one request. Each entry uses the same pagination semantics as the single-channel message list endpoint.",
				"security": [{"sessionToken": []}],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/BulkMessageFetchRequest"}}}
				}
			}
		},
		"/channels/{channel_id}": {
			"get": {
				"operationId": "get_channel",
				"summary": "Fetch a channel",
				"tags": ["Channels"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves the channel object including metadata, member list, and settings. Requires the user to be a member of the channel with view permissions.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				]
			},
			"patch": {
				"operationId": "update_channel",
				"summary": "Update channel settings",
				"tags": ["Channels"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Modifies channel properties such as name, description, topic, nsfw flag, and slowmode. Requires management permissions in the channel.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelUpdateRequestBody"}}}
				}
			},
			"delete": {
				"operationId": "delete_channel",
				"summary": "Delete a channel",
				"tags": ["Channels"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Permanently removes a channel and all its content. Only server administrators or the channel owner can delete channels. When `delete_messages` is set on a group DM, the caller's authored messages in the group are deleted before leaving and sudo mode verification is required.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					},
					{
						"name": "silent",
						"in": "query",
						"required": false,
						"schema": {
							"description": "Whether to suppress the system message when leaving a group DM",
							"default": "false",
							"type": "string"
						},
						"description": "Whether to suppress the system message when leaving a group DM"
					},
					{
						"name": "delete_messages",
						"in": "query",
						"required": false,
						"schema": {
							"description": "When leaving a group DM, also delete all messages the caller has sent in the channel",
							"default": "false",
							"type": "string"
						},
						"description": "When leaving a group DM, also delete all messages the caller has sent in the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/SudoVerificationSchema"}}}
				}
			}
		},
		"/channels/{channel_id}/attachments": {
			"post": {
				"operationId": "request_presigned_message_attachment_uploads",
				"summary": "Request presigned attachment upload URLs",
				"tags": ["Channels", "Messages"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/PresignedAttachmentUploadResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Returns presigned upload URLs for message attachments in the target channel. Small files (<=10MB) return a singlepart PUT URL; larger files return a multipart plan (upload_id + per-part URLs) that the client should complete via the matching /attachments/complete endpoint. Requires message send and attachment permissions in guild channels.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": true,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/PresignedAttachmentUploadRequest"}}}
				}
			}
		},
		"/channels/{channel_id}/attachments/complete": {
			"post": {
				"operationId": "complete_multipart_message_attachment_uploads",
				"summary": "Finalize multipart attachment uploads",
				"tags": ["Channels", "Messages"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {"schema": {"$ref": "#/components/schemas/CompleteMultipartAttachmentUploadResponse"}}
						}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Finalizes one or more multipart attachment uploads. Called after all chunks have been PUT to their presigned URLs. The server lists the uploaded parts and issues S3 CompleteMultipartUpload. Returns the finalized upload keys, which can be referenced in a subsequent message create request.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {"schema": {"$ref": "#/components/schemas/CompleteMultipartAttachmentUploadRequest"}}
					}
				}
			}
		},
		"/channels/{channel_id}/call": {
			"get": {
				"operationId": "get_call_eligibility",
				"summary": "Get call eligibility status",
				"tags": ["Channels"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CallEligibilityResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Checks whether a call can be initiated in the channel and if there is an active call. Returns ringable status and silent mode flag.",
				"security": [{"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				]
			},
			"patch": {
				"operationId": "update_call_region",
				"summary": "Update call region",
				"tags": ["Channels"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Changes the voice server region for an active call to optimise latency and connection quality.",
				"security": [{"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CallUpdateBodySchema"}}}
				}
			}
		},
		"/channels/{channel_id}/call/end": {
			"post": {
				"operationId": "end_call",
				"summary": "End call session",
				"tags": ["Channels"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Terminates an active voice call in the channel. Records the call end state for all participants.",
				"security": [{"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				]
			}
		},
		"/channels/{channel_id}/call/ring": {
			"post": {
				"operationId": "ring_call_recipients",
				"summary": "Ring call recipients",
				"tags": ["Channels"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Sends ringing notifications to specified users in a call. If no recipients are specified, rings all channel members.",
				"security": [{"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CallRingBodySchema"}}}
				}
			}
		},
		"/channels/{channel_id}/call/stop-ringing": {
			"post": {
				"operationId": "stop_ringing_call_recipients",
				"summary": "Stop ringing call recipients",
				"tags": ["Channels"],
				"responses": {
					"204": {"description": "No Content"},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Stops ringing notifications for specified users in a call. Allows callers to stop notifying users who have declined or not responded.",
				"security": [{"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/CallRingBodySchema"}}}
				}
			}
		},
		"/channels/{channel_id}/invites": {
			"post": {
				"operationId": "create_channel_invite",
				"summary": "Create channel invite",
				"tags": ["Invites"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/InviteMetadataResponseSchema"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Creates a new invite for the specified channel with optional parameters such as maximum age, maximum uses, and temporary membership settings. The authenticated user must have permission to create invites for the channel. Returns the created invite with full metadata including usage statistics.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				],
				"requestBody": {
					"required": false,
					"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ChannelInviteCreateRequest"}}}
				}
			},
			"get": {
				"operationId": "list_channel_invites",
				"summary": "List channel invites",
				"tags": ["Invites"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/InviteMetadataListResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves all currently active invites for the specified channel, including invite codes, creators, expiration times, and usage statistics. The authenticated user must have permission to manage invites for the channel. Returns an array of invite metadata objects.",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					}
				]
			}
		},
		"/channels/{channel_id}/messages": {
			"get": {
				"operationId": "list_messages",
				"summary": "List messages in a channel",
				"tags": ["Channels", "Messages"],
				"responses": {
					"200": {
						"description": "Success",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/MessageListResponse"}}}
					},
					"400": {
						"description": "Bad Request - The request was malformed or contained invalid data",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"401": {
						"description": "Unauthorized - Authentication is required or the token is invalid",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"403": {
						"description": "Forbidden - You do not have permission to perform this action",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					},
					"429": {
						"description": "Too Many Requests - You are being rate limited",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThrottledError"}}},
						"headers": {
							"Retry-After": {
								"description": "Number of seconds to wait before retrying (only on 429)",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Limit": {
								"description": "The number of requests that can be made in the current window",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Remaining": {
								"description": "The number of remaining requests that can be made",
								"schema": {"type": "integer"}
							},
							"X-RateLimit-Reset": {
								"description": "Unix timestamp when the rate limit resets",
								"schema": {"type": "integer"}
							}
						}
					},
					"500": {
						"description": "Internal Server Error - An unexpected error occurred",
						"content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}
					}
				},
				"description": "Retrieves a paginated list of messages from a channel. User must have permission to view the channel. Supports pagination via limit, before, after, and around parameters. Returns messages in reverse chronological order (newest first).",
				"security": [{"botToken": []}, {"sessionToken": []}],
				"parameters": [
					{
						"name": "channel_id",
						"in": "path",
						"required": true,
						"schema": {"description": "The ID of the channel", "$ref": "#/components/schemas/SnowflakeType"},
						"description": "The ID of the channel"
					},
					{
						"name": "limit",
						"in": "query",
						"required": false,
						"schema": {
							"description": "Number of messages to return (1-100, default 50)",
							"default": "50",
							"type": "string"
						},
						"description": "Number of messages to return (1-100, default 50)"
					},
					{
						"name": "before",
						"in": "query",
						"required": false,
						"schema": {
							"description": "Get messages before this message ID",
							"$ref": "#/components/schemas/SnowflakeType"
						},
						"description": "Get messages before this message ID"
					},
					{
						"name": "after",
						"in": "query",
						"required": false,
						"schema": {
							"description": "Get messages after this message ID",
							"$ref": "#/components/schemas/SnowflakeType"
						},
						"description": "Get messages after this message ID"
					},
					{
						"name": "around",
						"in": "query",
						"required": false,
						"schema": {
							"description": "Get messages around this message ID",
							"$ref": "#/components/schemas/SnowflakeType"
						},
						"description": "Get messages around this message ID"
					}
				]
			},
			"post": {
				"operationId": "send_message",
				"summary": "Send a message",
				"tags": ["Channels", "Messages"],
				"responses": {
					"200": {
						"description": "Success",
[...]
