.nav {
    display: flex;
    gap: 0px;
}

.button {
    -webkit-app-region: no-drag;
    cursor: pointer;
    width: auto;
    height: 28px;
    display: flex;
    align-items: center;
    border: none;
    background: none;
    border-radius: 4px;
    color:lightgrey
}
.button:hover {
    color:white;
}